{% extends "layout.html" %}
{% block item %}
    <div class = "col-md-8 offset-md-2 welcome">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to PepperJack.</h1>
            <h1 class="display-5">Like Online Shopping, but in Real Life.&#8482</h1>
            <p class="lead">PepperJack is a place where you can find out information about and easily purchase different types of foods.</p>
            <hr class="my-4">
            <p>In order to learn about or buy a specific food, click the button below.</p>
            <a class="btn btn-primary btn-lg" href="{{url_for('item')}}" role="button">Let's go!</a>
        </div>
    </div>
{% endblock %}
