{% extends "layout.html" %}
{% block item %}
<div class="col-md-4 offset-md-4 login-form">
    <form action="/handleUpload" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        Choose the file: <input type="file" name="photo"/><BR>
            <input type="submit" value="Upload"/>
    </form> 

    <form method = "POST" action = "{{ url_for('item') }}">
        {{ form.csrf_token }}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Search for an item</legend>
            <div class = "input-group">
                {{ form.item(class = "form-control form-control-lg")}}
                <span class = "input-group-btn">
                    {{ form.submit(class = "btn btn-info go inline", id = 'submit')}}
                </span>
            </div>
        </fieldset>
    </form>
    
</div>
{% endblock %}
