{% extends "layout.html" %}
{% block item %}

        <h5 class="card-title">Item Name: {{name}}</h5>
				<div class="jss1">
					<div class="jss64 jss65">
						<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
							<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-lg-8">
								<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
									<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6">
										<div class="MuiBox-root jss372 jss7">
											<div class="MuiPaper-root MuiCard-root jss373 MuiPaper-elevation1 MuiPaper-rounded">
												<div class="MuiCardHeader-root jss374">
													<div class="MuiCardHeader-content">
														<h2 class="MuiTypography-root MuiCardHeader-title MuiTypography-h4 MuiTypography-colorInherit MuiTypography-gutterBottom MuiTypography-displayBlock">{{nutr_info["ENERC_KCAL"]}} Calories</h2>
														<span class="MuiTypography-root MuiCardHeader-subheader MuiTypography-body1 MuiTypography-colorInherit MuiTypography-displayBlock">
															<div class="jss377">
															</div>
														</span>
													</div>
												</div>
												<div class="MuiCardContent-root jss375">
													<table class="MuiTable-root jss378">
														<tbody class="MuiTableBody-root jss379">
															<tr class="MuiTableRow-root jss380">
																<th class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter" scope="col">
																	<span class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">Fat</span>
																</th>
																<td class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter">
																	<span class="MuiTypography-root MuiTypography-h5 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">{{nutr_info["FAT"]}}
																		<span class="MuiTypography-root MuiTypography-body1"> g</span>
																	</span>
																</td>
															</tr>
															<tr class="MuiTableRow-root jss380">
																<th class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter" scope="col">
																	<span class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">Carbs</span>
																</th>
																<td class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter">
																	<span class="MuiTypography-root MuiTypography-h5 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">{{nutr_info["CHOCDF"]}}
																		<span class="MuiTypography-root MuiTypography-body1"> g</span>
																	</span>
																</td>
															</tr>
															<tr class="MuiTableRow-root jss380">
																<th class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter" scope="col">
																	<span class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">Fiber</span>
																</th>
																<td class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter">
																	<span class="MuiTypography-root MuiTypography-h5 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">{{nutr_info["FIBTG"]}}
																		<span class="MuiTypography-root MuiTypography-body1"> g</span>
																	</span>
																</td>
															</tr>
															<tr class="MuiTableRow-root jss380">
																<th class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter" scope="col">
																	<span class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">Protein</span>
																</th>
																<td class="MuiTableCell-root jss381 MuiTableCell-body MuiTableCell-alignCenter">
																	<span class="MuiTypography-root MuiTypography-h5 MuiTypography-noWrap MuiTypography-alignCenter MuiTypography-displayBlock">{{nutr_info["PROCNT"]}}
																		<span class="MuiTypography-root MuiTypography-body1"> g</span>
																	</span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="MuiBox-root jss423">
										</div>
										<div class="MuiBox-root jss453 jss4">
											<div class="jss349 jss5">
												<div class="">
													<div class="jss352 jss355">
														<div id="ad-slot-CK_3Column_Inline_Pos1-1"></div>
													</div>
												</div>
											</div>
											<div class="MuiPaper-root MuiCard-root jss454 MuiPaper-elevation1 MuiPaper-rounded">
												<div class="MuiCollapse-container MuiCollapse-entered" style="min-height:300px">
													<div class="MuiCollapse-wrapper">
														<div class="MuiCollapse-wrapperInner">
															<div class="MuiCardHeader-root">
																<div class="MuiCardHeader-content">
																	<h2 class="MuiTypography-root MuiCardHeader-title MuiTypography-h6 MuiTypography-displayBlock">Nutrition Facts</h2>
																</div>
															</div>
															<table class="MuiTable-root jss462">
																<tbody class="MuiTableBody-root">
																	<tr class="MuiTableRow-root MuiTableRow-hover">
																		<th class="MuiTableCell-root MuiTableCell-body jss463 MuiTableCell-sizeSmall" scope="row" colSpan="1">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/For-Weight-Loss-Calories-Are-King_OTY3.html">Calories</a>
																			<!-- -->150
																		</th>
																		<td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall" colSpan="2">(627 kJ)</td>
																	</tr>
																	<tr class="MuiTableRow-root">
																		<td class="MuiTableCell-root jss464 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall" colSpan="3">% DV
																			<!-- -->*
																		</td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/How-Much-Fat-Do-I-Need_MTAwOA.html">Total Fat</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">10 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">15%</td>
																	</tr>
																	<tr class="MuiTableRow-root jss466 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/Which-Fats-Are-Bad-Fats_MTAxMA.html">Saturated Fat</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">1.5 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">8%</td>
																	</tr>
																	<tr class="MuiTableRow-root jss466 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/Which-Fats-Are-Bad-Fats_MTAxMA.html">Trans Fat</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/How-Much-Fat-Do-I-Need_MTAwOA.html">Cholesterol</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0 mg</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0%</td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">Sodium</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">250 mg</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">10%</td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/How-Much-Carbohydrate-Do-I-Need_MTAxNQ.html">Total Carbohydrate</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">13 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">4%</td>
																	</tr>
																	<tr class="MuiTableRow-root jss466 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/How-Much-Fiber-Do-I-Need_OTQ5.html">Dietary Fiber</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0.5 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">2%</td>
																	</tr>
																	<tr class="MuiTableRow-root jss466 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/Sugar-How-Much-Is-Too-Much_OTUz.html">Sugars</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">1 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/How-Much-Protein-Do-I-Need_MTAxNg.html">Protein</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">2 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/Why-Do-I-Need-Calcium_MTAxOQ.html">Calcium</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0 mg</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/Can-I-Drink-Alcohol-and-Still-Lose-Weight_OTk2.html">Alcohol</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0 g</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">
																			<a class="MuiTypography-root MuiLink-root MuiLink-underlineNone MuiTypography-colorInherit" href="https://www.calorieking.com/learnabouts/Why-Do-I-Need-Iron-in-My-Diet_OTIy.html">Iron</a>
																		</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">&lt; 1 mg</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">Vitamin A</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0 mg</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																	<tr class="MuiTableRow-root jss465 MuiTableRow-hover">
																		<th class="MuiTableCell-root jss467 MuiTableCell-body MuiTableCell-sizeSmall" scope="row">Vitamin C</th>
																		<td class="MuiTableCell-root jss468 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall">0 mg</td>
																		<td class="MuiTableCell-root jss469 MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeSmall"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
              <a href="{{url_for('additem', item=name)}}"><button type="button" class="btn btn-primary">Add to Cart</button></a>

              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-lg-4">
								<div class="jss349">
									<div class="">
										<div class="jss352 jss354">
											<div id="ad-slot-CK_3Column_RR_Pos1-3"></div>
										</div>
									</div>
								</div>
								<div class="jss349">
									<div class="">
										<div class="jss352 jss354">
											<div id="ad-slot-CK_3Column_RR_Pos2-4"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
        </div>
			</div>

{% endblock %}
